.contact-page {
  margin-top: 2rem;
  display: flex;
  padding: 3rem 2rem;
  column-gap: 2rem;
  color: var(--text-1);
}
/*Contact content*/
.contact-page .contact-content {
  flex: 3;
}
.contact-page h2 {
  font-weight: 300;
  color: var(--black);
}
.contact-page .line {
  margin-bottom: 1rem;
}
.contact-page p {
  font-size: 1.2rem;
  font-weight: 300;
}
.contact-page .contact-content .form-container {
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--bg-1);
}

.contact-page .contact-content .input-container {
  margin: 1rem 0;
}
.contact-page .contact-content .input-container::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.15rem;

  background: var(--primary-color);
  position: relative;
  bottom: 2px;
  transition: all 0.5s;
}
.input-container:focus-within::after {
  width: 100% !important;
}

.contact-page .contact-content input,
.contact-page .contact-content textarea {
  color: var(--text-1);
  border: none;
  border-radius: 0;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  box-shadow: none !important;
  position: relative;
}

.contact-page .contact-content input,
.contact-page .contact-content textarea {
  background: var(--form-input-bg);
}
.contact-page .contact-content input::placeholder {
  color: var(--form-input-placeholder);
  font-weight: 300;
  font-size: 0.9rem;
}

.contact-page .contact-content button {
  margin: 2rem 0;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  background: var(--primary-color);
}

/* Contact about */
.contact-page .contact-about {
  flex: 2;
}
.contact-page .contact-about .contact-info {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.contact-page .contact-about img {
  width: 8rem;
  height: 8rem;
  margin: 1.5rem auto;
}
.contact-page .contact-about .contact-info span {
  align-self: center;
}

.contact-page .contact-about .about-links {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact-page .contact-about .about-links span {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 62em) {
  .contact-page {
    flex-direction: column;
    row-gap: 2rem;
  }
}
