.contact-page {
  margin-top: 4rem;
  display: flex;
  padding: 3rem 2rem;
  column-gap: 2rem;
}
/*Contact content*/
.contact-page .contact-content {
  flex: 3;
}
.contact-page h2 {
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--primary-color-2);
}

.contact-page p {
  font-size: 1.2rem;
  font-weight: 300;
}

.contact-page .contact-content .form-container {
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fafafa;
}

.contact-page h4 {
  color: var(--primary-color-2);
  width: 6.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.contact-page h4::after {
  content: '';
  display: block;
  height: 1px;
  background: var(--primary-color-2);
  margin-top: 0.5rem;
}
.contact-page .contact-content .input-container {
  margin: 1rem 0;
}

.contact-page .contact-content input,
.contact-page .contact-content textarea {
  border: none;
  border-radius: 0;
  padding: 1.6rem 1rem;
  font-size: 1.2rem;
  box-shadow: 0 1px 1px #dddddd !important;
}

.contact-page .contact-content input::placeholder {
  color: #888888;
  font-weight: 300;
  font-size: 1rem;
}
.contact-page .contact-content button {
  margin: 2rem 0;
  padding: 0.7rem 1rem;
  border-radius: 0;
  font-size: 1rem;
  color: white;
  background: var(--primary-color-2);
}

/* Contact about */
.contact-page .contact-about {
  flex: 2;
}
.contact-page .contact-about .contact-info {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.contact-page .contact-about img {
  width: 8rem;
  height: 8rem;
  margin: 1.5rem auto;
  border-radius: 50%;
}
.contact-page .contact-about .contact-info span {
  align-self: center;
}

.contact-page .contact-about .about-links {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact-page .contact-about .about-links span {
  color: var(--primary-color-2);
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .contact-page {
    flex-direction: column;
    row-gap: 2rem;
  }
}
