.portfolio-hero {
  margin-top: 3.5rem;
  padding: 0 2rem;
  width: 100%;
  position: relative;
}

/*Hero Text */
.portfolio-hero .hero-text {
  padding: 1rem 0;
  display: flex;
}
.portfolio-hero .hero-text .text-content {
  padding-top: 1.5rem;
  padding-left: 3rem;
}
.portfolio-hero .hero-text h1 {
  color: var(--black);
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: SF ui, "Raleway", sans-serif;
}
.portfolio-hero .hero-text h1 span {
  color: var(--primary-color);
}
.portfolio-hero .hero-text p {
  color: var(--text-1);
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.9rem;
  letter-spacing: 0.9px;
}
.portfolio-hero .hero-buttons {
  margin-top: 2rem;
}
.portfolio-hero .hero-buttons .btn {
  padding: 0.5rem 0.8rem;
  border: 2px solid var(--primary-color);
}
.portfolio-hero .hero-buttons .btn:nth-child(1) {
  background-color: var(--primary-color);
  color: white;
}
.portfolio-hero .hero-buttons .btn:nth-child(2) {
  margin-left: 0.2rem;
  color: var(--primary-color);
}

.portfolio-hero .hero-illustration img {
  max-width: 35vw;
}
