.portfolio-hero {
  padding: 0 3rem;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 3.5rem;
}

/*Hero Text */
.portfolio-hero .hero-text {
  padding: 0;
  display: flex;
  max-width: 78rem;
}
.portfolio-hero .hero-text .text-content {
  padding-top: 4rem;
  padding-left: 4rem;
}
.portfolio-hero .hero-text h1 {
  font-family: Roboto;
  color: var(--black);
  font-weight: 200;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-family: SF ui, "Raleway", sans-serif;
}
.portfolio-hero .hero-text h1 span {
  color: var(--primary-color);
}
.portfolio-hero .hero-text p {
  font-family: Roboto;
  color: var(--text-1);
  font-size: 1.15rem;
  font-weight: 400;
}
.portfolio-hero .hero-buttons {
  margin-top: 2rem;
}
.portfolio-hero .hero-buttons .btn {
  padding: 0.4rem 0.7rem;
  border: calc(1rem / 8) solid var(--primary-color);
}
.portfolio-hero .hero-buttons .btn:nth-child(1) {
  background-color: var(--primary-color);
  color: white;
}
.portfolio-hero .hero-buttons .btn:nth-child(2) {
  margin-left: 0.25rem;
  color: var(--primary-color);
}

.portfolio-hero .hero-illustration img {
  margin-left: 0rem;
  margin-top: 0rem;
  width: 32rem;
}
/* Style hero for small devices */
@media (max-width: 48em) {
  .portfolio-hero .hero-text p {
    width: 90%;
  }
}
@media (max-width: 62em) {
  .portfolio-hero .hero-text {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    text-align: center;
  }
  .portfolio-hero .hero-text .text-content {
    text-align: center;
  }
  .portfolio-hero .hero-text h1 {
    font-weight: 200;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .portfolio-hero .hero-text p {
    font-size: 1.4rem;
    margin: 0 auto;
  }
  .portfolio-hero .hero-text h1 {
    font-weight: 200;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
