.hero {
  margin-top: 4rem;
  width: 100%;
}

/*Hero Text */
.hero .hero-text {
  text-align: center;
  padding: 5rem 0;
}
.hero .hero-text h1 {
  font-weight: 200;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.hero .hero-text p {
  font-size: 1.5rem;
  font-weight: 200;
  width: 60%;
  margin: 0 auto;
  line-height: 2rem;
}

/*Hero Cards */

.hero-cards {
}

.hero-cards .card {
  border: none;
  background: #fafafa;
  box-shadow: var(--shadow);
  padding: 1rem;
  text-align: center;
}
