.hero {
  margin-top: 3.5rem;
  padding: 0 2rem;
  width: 100%;
  position: relative;
}

/*Hero Text */
.hero .hero-text {
  padding: 1rem 0;
  display: flex;
}
.hero .hero-text .text-content {
  padding-top: 1rem;
  padding-left: 3rem;
}
.hero .hero-text h1 {
  color: var(--black);
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: SF ui, "Raleway", sans-serif;
}
.hero .hero-text h1 span {
  color: var(--primary-color);
}
.hero .hero-text p {
  color: var(--text-1);
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.9rem;
  letter-spacing: 0.9px;
}
.hero .hero-buttons {
  margin-top: 2rem;
}
.hero .hero-buttons .btn {
  padding: 0.5rem 0.8rem;
  border: 2px solid var(--primary-color);
}
.hero .hero-buttons .btn:nth-child(1) {
  background-color: var(--primary-color);
  color: white;
}
.hero .hero-buttons .btn:nth-child(2) {
  margin-left: 0.25rem;
  color: var(--primary-color);
}

.hero .hero-illustration img {
  max-width: 35vw;
}
/* Hero Cards */
.hero-cards .cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.hero .hero-cards .card {
  background: var(--white);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  cursor: pointer;
  transition: all 0.3s;
}

/* .hero .hero-cards .card:nth-child(2) {
  transform: translateY(1rem);
}
.hero .hero-cards .card:nth-child(3) {
  transform: translateY(2rem);
} */

.hero .hero-cards .card svg {
  color: var(--primary-color);
}
.hero .hero-cards .card h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.hero .hero-cards .card p {
  color: var(--text-1);
}

.hero .hero-wave {
  position: absolute;
  left: -10%;
  z-index: -1;
  height: 45%;
  bottom: -2rem;
  /* transform: rotateZ(2deg); */
}

/* Style hero for small devices */
@media (max-width: 767px) {
  .hero .hero-text {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-text {
    text-align: center;
    padding: 2rem 0;
  }
  .hero .hero-text h1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero .hero-text p {
    font-size: 1.2rem;
    font-weight: 200;
    width: 80%;
    line-height: 1.5rem;
  }
  .hero-cards .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .hero-cards .cards {
    flex-wrap: wrap;
  }
  .hero-cards .cards .card {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1rem;
    height: 15rem;
    margin: 0.5rem 0;
  }
  .hero-cards .cards .card .img-container {
    margin-right: 1.5rem;
  }
  .hero-cards .cards .card h3 {
    font-size: 1.2rem;
  }
}
