.hero {
  margin-top: 3.5rem;
  width: 100%;
  position: relative;
}

/*Hero Text */
.hero .hero-text {
  padding: 2rem 0;
  display: flex;
}
.hero .hero-text .text-content {
  padding-top: 3rem;
  padding-left: 6rem;
}
.hero .hero-text h1 {
  color: var(--black);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: SF ui, "Raleway", sans-serif;
}
.hero .hero-text h1 span {
  color: var(--primary-color);
}
.hero .hero-text p {
  color: var(--text-1);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
.hero .hero-buttons {
  margin-top: 2rem;
}
.hero .hero-buttons .btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
}
.hero .hero-buttons .btn:nth-child(1) {
  background-color: var(--primary-color);
  color: white;
}
.hero .hero-buttons .btn:nth-child(2) {
  margin-left: 0.2rem;
  color: var(--primary-color);
}

.hero .hero-illustration img {
  max-width: 40vw;
}
/* Hero Cards */
.hero-cards .cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.hero .hero-cards .card {
  /* background: var(--white); */
  border: none;
  border-radius: 20px;
  /* box-shadow: 0 10px 10px rgba(100, 100, 100, 0.1); */
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.hero .hero-cards .card img {
  height: 10rem;
}
.hero .hero-cards .card h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.hero .hero-cards .card p {
  color: var(--text-1);
}
/* Style hero for small devices */
@media (max-width: 767px) {
  .hero .hero-text {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-text {
    text-align: center;
    padding: 2rem 0;
  }
  .hero .hero-text h1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero .hero-text p {
    font-size: 1.2rem;
    font-weight: 200;
    width: 80%;
    line-height: 1.5rem;
  }
  .hero-cards .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .hero-cards .cards {
    flex-wrap: wrap;
  }
  .hero-cards .cards .card {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1rem;
    height: 15rem;
    margin: 0.5rem 0;
  }
  .hero-cards .cards .card .img-container {
    margin-right: 1.5rem;
  }
  .hero-cards .cards .card h3 {
    font-size: 1.2rem;
  }
}
