.projects {
  padding: 2rem;
  color: var(--text-1);
  position: relative;
}

.projects .header {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.projects .header h1 {
  font-size: 2.5rem;
  font-weight: 200;
  width: 40rem;
  color: var(--black);
  font-family: SF ui, "Poppins", sans-serif;
  /* width: 16.8rem; */
}

.projects .btn-container {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.projects .btn-container .btn {
  margin: auto;
  margin-top: 2rem;
  background: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.projects .btn-container svg {
  font-size: 2rem;
  margin-left: 0.3rem;
}
