.projects {
  padding: 2rem;
  color: var(--text-1);
  position: relative;
}

.projects .header {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.projects .header h1 {
  font-size: 2.3rem;
  font-weight: 700;
  width: 40rem;
  color: var(--black);
  /* color: transparent;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: var(--black); */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 1s;
  transform: scaleY(1.1);
}

.projects .btn-container {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.projects .btn-container .btn {
  background: transparent;
  border: 0.16rem solid var(--black);
  color: var(--black);
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  transition: all 0.5s;
}
.light-mode .projects .btn-container .btn {
  border: 0.1rem solid var(--black);
}

.projects .btn-container svg {
  margin-left: 0.3rem;
}
