.about {
  margin-top: 4rem;
  padding: 1rem 8rem;
}
.about h1 {
  color: var(--primary-color-2);
  font-weight: 300;
  margin: 1rem 0;
  text-align: center;
}
/* Intro */
.about .intro {
  margin: 2rem;
}
.about .intro .img-text {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.about .intro img {
  height: 14rem;
  width: 14rem;
  border-radius: 1.5rem;
}
/* Skills */

.about .skills {
  display: flex;
}

/* Get in touch */
