.about {
  margin-top: 2rem;
  padding: 4rem 8rem;
}
.about .ellipse1 {
  position: absolute;
  right: -35%;
  top: -20%;
  min-width: 80rem;
  min-height: 40rem;
  transition: all 1s;
  z-index: -3;
}

.about .ellipse2 {
  position: absolute;
  left: -5%;
  top: 10%;
  min-width: 80rem;
  min-height: 40rem;

  transition: all 1s;
  z-index: -3;
}
.about .ellipse3 {
  position: absolute;
  left: -25%;
  top: -60%;
  min-width: 80rem;
  min-height: 40rem;

  transition: all 1s;
  z-index: -3;
}
.about h1 {
  color: var(--black);
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}
.about .line {
  margin-left: auto;
  margin-right: auto;
}
/* Intro */
.about .intro {
  color: var(--text-1);
  margin: 2rem;
}
.about .intro .img-text {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.about .intro img {
  height: 20rem;
  width: 20rem;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
/* Get in touch */
.about .getintouch {
  width: 100%;
  margin: 4rem 0;
  display: flex;
}
.about .getintouch .btn {
  border: solid 0.1rem var(--primary-color);
  color: var(--black);
  background: transparent;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  font-weight: 300;
}

/* About style for small devices  */
@media (max-width: 900px) {
  .about {
    padding: 1rem 4rem;
  }
  .about .img-text {
    flex-direction: column;
    row-gap: 2rem;
  }
  .about .skills {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
@media (max-width: 700px) {
  .about {
    padding: 1rem 2rem;
  }
  .about .first-row,
  .about .second-row {
    flex-direction: column;
    row-gap: 1rem;
  }
}
