footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-top: solid 2px var(--primary-color-2);
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .about {
  display: flex;
  flex: 2;
  padding: 0 2rem;
}
footer .about img {
  width: 7rem;
}

footer .social-links {
  flex: 1;
}

footer .portfolio-links {
  flex: 1;
}
