footer {
  color: var(--text-1);
  padding: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--bg-1);
  /* border-top: solid 1px var(--primary-color); */
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}

footer .about {
  display: flex;
  flex: 2;
  padding: 0 1rem;
}

footer .about img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.4);
}

/* Footer Links */

footer .links {
  display: flex;
  flex: 2;
  padding: 0 1rem;
}

/* Social Links */

footer .social-links {
  flex: 1;
}
footer .social-links .social-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
footer .social-links .social-link a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

footer .social-links .social-link svg {
  transform: translate(0, -0.1rem);
  margin-right: 0.3rem;
}

/* Portfolio Links */

footer .portfolio-links {
  padding: 0 1rem;
  flex: 1;
}
footer .portfolio-links .portfolio-link {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}
footer .portfolio-links .portfolio-link a {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

/* Copyright section */

footer .copyright-section {
  text-align: center;
  margin-top: 3rem;
}

/* Footer For small devices */

@media (max-width: 900px) {
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .links {
    margin-top: 2rem;
  }
}
