footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-top: solid 2px var(--primary-color-2);
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
footer .about {
  display: flex;
  flex: 2;
  padding: 0 1rem;
}
footer .about img {
  width: 7rem;
  margin-right: 1rem;
}

footer .social-links {
  flex: 1;
  padding: 0 1rem;
}
footer .social-links .social-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
footer .social-links .social-link a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary-color-2);
  font-weight: 500;
}

footer .social-links .social-link svg {
  transform: translate(0, -0.1rem);
  margin-right: 0.3rem;
}

footer .portfolio-links {
  flex: 1;
}
