nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 1rem 3rem;
  transition: all 0.2s;
  z-index: 1000;
  background: transparent;
}

.nav-on-scroll {
  background: var(--navbar-bg);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(5rem);
  width: 96%;
  left: 2%;
  top: 0;
  border-radius: 3rem;
}

nav .menu-icon {
  display: none;
  height: 2.2rem;
  width: 2.2rem;
  color: var(--primary-color);
  cursor: pointer;
}
nav .logo-container a {
  font-size: 2rem;
  color: var(--text-2);
  text-decoration: none;
  font-weight: 400;
}
nav .nav-items {
  display: flex;
  margin-left: auto;
  font-family: "Poppins", Lato, sans-serif;
}
nav .nav-items .nav-item {
  display: block;
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.7rem 1rem;
  height: 100%;
  z-index: 10;
}

nav .nav-items .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 0.188rem;
  top: -0.2rem;
  transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 1);
  position: relative;
}

nav .nav-items .active::after {
  content: "";
  height: 0.15rem;
  display: block;
  width: 100%;
  background: var(--primary-color);
}
nav .nav-items .active:hover::after,
nav .nav-items .nav-item:hover::after {
  content: "";
  width: 100%;
  display: block;
  background: var(--primary-color);
  height: 0.15rem;
}
nav .nav-items .contact .btn,
.side-nav-items .btn {
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 2rem;
  margin-top: 0.45rem;
  margin-left: 0.75rem;
  transition: all 0.5s;
}

nav .toggle-dark-mode {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
  color: var(--text-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: inherit;
}

/*Side nav*/
.side-nav-items {
  z-index: 100;
  display: none;
  position: fixed;
  top: 3.5rem;
  width: 96%;
  margin-left: 2%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background: var(--navbar-bg);
  height: calc(100% - 4rem);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.side-nav-items .nav-item {
  width: 100%;
  padding: 1.2rem 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-2);
}
.side-nav-items .active {
  background: var(--side-navbar-bg-active);
  border-right: solid 2px var(--text-2);
}
.side-nav-items .contact {
  width: 100%;
  padding: 0 1.2rem;
}
.side-nav-items .nav-item:hover {
  background: var(--side-navbar-bg-active);
}

/*Navbar for small devices*/
@media (max-width: 48em) {
  nav .nav-items {
    display: none;
  }
  nav .logo-container {
    margin: 0 auto;
  }
  nav .menu-icon {
    display: block;
  }
  .side-nav-items {
    display: block;
    left: -100rem;
    top: -100rem;
    border-radius: 3rem;
    transition: all 1s;
  }
  .open {
    left: 0 !important;
    top: 3.5rem;
  }
}
