nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 1rem 3rem;
  /* border-top: solid 2px var(--primary-color); */
  z-index: 10;
  transition: all 0.2s;
  z-index: 10;
  background: var(--navbar-bg);
  backdrop-filter: blur(30px);
}

.nav-on-scroll {
  /* background: #fafafa; */
  height: 3.2rem !important;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.03);
}
nav .menu-icon {
  display: none;
  height: 2.2rem;
  width: 2.2rem;
  color: var(--primary-color);
  cursor: pointer;
}
nav .logo-container a {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  text-decoration: none;
}
nav .nav-items {
  display: flex;
  margin-left: auto;
  font-family: Matter, "Raleway", sans-serif;
  font-weight: 500;
}
nav .nav-items .nav-item {
  display: block;
  color: var(--primary-color) !important;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  height: 100%;
  z-index: 10;
}
nav .nav-items .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 1);
  position: relative;
  top: 0.8rem;
}
.nav-on-scroll .nav-items .nav-item::after {
  top: 0.6rem !important;
}
nav .nav-items .active::after {
  content: "";
  display: block;
  width: 100%;
  background: var(--primary-color);
}
nav .nav-items .active:hover::after,
nav .nav-items .nav-item:hover::after {
  content: "";
  width: 100%;
  display: block;
  background: var(--primary-color);
}
nav .nav-items .contact .btn,
.side-nav-items .btn {
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  margin-left: 0.75rem;
  padding: 0.25rem 1rem;
  font-weight: 300;
  transition: all 0.5s;
}

nav .toggle-dark-mode {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: inherit;
}

/*Side nav*/
.side-nav-items {
  z-index: 10;
  display: none;
  position: fixed;
  top: 4rem;
  width: 17rem;
  background: var(--side-navbar-bg);
  height: calc(100% - 4rem);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-nav-items .nav-item {
  width: 100%;
  padding: 1.2rem 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary-color);
}
.side-nav-items .active {
  background: var(--side-navbar-bg-active);
  border-right: solid 2px var(--primary-color);
}
.side-nav-items .contact {
  width: 100%;
  padding: 0 1.2rem;
}
.side-nav-items .nav-item:hover {
  background: var(--side-navbar-bg-active);
}

/*Navbar for small devices*/
@media (max-width: 767px) {
  nav .nav-items {
    display: none;
  }
  nav .logo-container {
    margin: 0 auto;
  }
  nav svg {
    display: block;
  }
  .side-nav-items {
    display: block;
    left: -17rem;
  }
  .open {
    left: 0 !important;
  }
}
