.project {
  display: flex;
  padding: 1rem;
}
.project .project-info .img-container {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden !important;
  display: none;
}
.project .project-info img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.project .project-info h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--primary-color);
}

.project .project-info .btns .btn:nth-child(1) {
  color: var(--text-2);
  padding: 0.5rem 1rem;
  border: solid 2px var(--text-2);
  margin-right: 0.3rem;
}
/* .project .project-info .btns .btn:nth-child(2) {
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: solid 2px var(--primary-color);
} */

.project .project-info p {
  margin: 2rem 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.project .project-preview img {
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
  .project .project-preview {
    display: none;
  }
  .project .project-info .img-container {
    display: initial;
  }
}
