@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;300&display=swap");

/* import matter font */
@font-face {
  font-family: SF ui;
  src: url(./Fonts/sf-ui-display-thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: SF ui;
  src: url(./Fonts/sf-ui-display-light.otf);
  font-weight: 200;
}
@font-face {
  font-family: SF ui;
  src: url(./Fonts/sf-ui-display-medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: SF ui;
  src: url(./Fonts/sf-ui-display-semibold.otf);
  font-weight: 500;
}
@font-face {
  font-family: SF ui;
  src: url(./Fonts/sf-ui-display-bold.otf);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /*colors*/
  --color-1: #03045e;
  --color-2: #023e8a;
  --color-3: #0077b6;
  --color-4: #0096c7;
  --color-5: #00b4d8;
  --color-6: #48cae4;
  --color-7: #90e0ef;
  --color-8: #ade8f4;
  --color-9: #caf0f8;
}

.light-mode {
  --primary-color: #3d009e;
  --secondary-color: #d73c97;
  --third-color: #6964d7;
  --bg-1: #f3f5f5;
  --bg-2: #fff;
  --white: #fff;
  --black: #000;
  --text-1: #000;
  --text-2: #3d009e;
  --navbar-bg: rgba(255, 255, 255, 0.85);
  --side-navbar-bg: #fff;
  --side-navbar-bg-active: #fafafa;
  --form-input-bg: #fff;
  --form-input-placeholder: #888;
  --shadow: 0 0 100px rgba(150, 150, 150, 0.5);
  --footer-bg: #f8f8f8;
}

.dark-mode {
  --primary-color: #6964d7;
  --secondary-color: #d73c97;
  --third-color: #6964d7;
  /* --bg-1: #1e293b;
  --bg-2: #222; */
  --bg-1: #000;
  --bg-2: #000;
  --white: #111;
  --black: #fff;
  --text-1: #fff;
  --text-2: #fff;
  --navbar-bg: rgba(0, 0, 0, 0.7);
  --side-navbar-bg: #333;
  --side-navbar-bg-active: #444;
  --form-input-bg: #222;
  --form-input-placeholder: #ddd;
  --shadow: 0 0 100px rgba(150, 150, 150, 0.5);
  --footer-bg: #222;
}
html {
  font-size: 100%;
}

body {
  font-family: SF ui, "Poppins", sans-serif;
  background: var(--bg-2);
  overflow-x: hidden;
}
.btn,
input {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  border-radius: 0.5rem;
  /* box-shadow: 0 5px 10px rgba(100, 100, 100, 0.2) !important; */
}

::selection {
  background: var(--primary-color);
  color: white;
}
/*Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}
