@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /*colors*/
  --color-1: #03045e;
  --color-2: #023e8a;
  --color-3: #0077b6;
  --color-4: #0096c7;
  --color-5: #00b4d8;
  --color-6: #48cae4;
  --color-7: #90e0ef;
  --color-8: #ade8f4;
  --color-9: #caf0f8;
}
#root {
  overflow: hidden;
}

.light-mode {
  --primary-color: #524bd7;
  --secondary-color: #2bc5f5;
  --third-color: #6964d7;
  --bg-1: rgba(220, 220, 220, 0.3);
  --bg-2: #fff;
  --white: #fff;
  --black: #000;
  --text-1: #000;
  --text-2: #524bd7;
  --navbar-bg: rgba(255, 255, 255, 0.9);
  --side-navbar-bg: #fff;
  --side-navbar-bg-active: #fafafa;
  --form-input-bg: rgba(255, 255, 255, 0.8);
  --form-input-placeholder: #888;
  --shadow: 0 0 100px rgba(150, 150, 150, 0.5);
  --footer-bg: rgba(230, 230, 250, 0.3);
}

.dark-mode {
  --primary-color: #574fe6;
  --secondary-color: #2bc5f5;
  --third-color: #6964d7;
  /* --bg-1: #1e293b;
  --bg-2: #222; */
  --bg-1: rgba(30, 30, 30, 0.5);
  --bg-2: #000;
  --white: #111;
  --black: #fff;
  --text-1: rgb(195, 208, 230);
  --text-2: #fff;
  --navbar-bg: rgba(0, 0, 0, 0.8);
  --side-navbar-bg: #333;
  --side-navbar-bg-active: #222;
  --form-input-bg: rgba(40, 40, 40, 0.5);
  --form-input-placeholder: #ddd;
  --footer-bg: rgba(80, 80, 80, 0.3);
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-2);
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

@media (min-width: 90em) {
  .my-container {
    width: 90em;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 150%;
  }
}
@media (min-width: 3840px) {
  html {
    font-size: 300%;
  }
}

.btn,
input {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  border-radius: 1.5rem;
  padding: 0.3rem 1.3rem;
  font-weight: 500;
  box-shadow: 0 20px 20px rgba(100, 100, 100, 0.2) !important;
}

.btn svg {
  margin-left: 0.5rem;
  height: 1.4em;
  width: 0em;
  transition: all 0.5s;
}

.btn:hover svg {
  width: 1.3em;
}

.line {
  display: block;
  background: var(--primary-color);
  width: 3rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
p {
  cursor: default;
}

::selection {
  background: rgba(74, 155, 255, 0.2);
}
/*Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: calc(1rem / 6);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.6);
}
